## j2 -e AWS_S3_BACKEND -e AWS_S3_BACKEND_KEY -e AWS_TABLE_LOCKING templates/backend.j2 -o backend.conf
encrypt        = true
region         = "{{ AWS_REGION }}"
bucket         = "{{ AWS_S3_BACKEND }}"
dynamodb_table = "{{ AWS_TABLE_LOCKING }}"
key            = "{{ AWS_S3_BACKEND_KEY }}"
